
body {
	background-image:url("../images/eight_horns.png"); 
	margin: 0px;
	padding:0px;
	font-family: "arial", serif;
	font-size: 18px;
	line-height: 150%;
}

.top {
	background-color: white;
	margin:0;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 1px;
	height: 89px;
	border-bottom: 3px gray solid;
}

h1 {
	color: white;
	text-align: center;
	font-size: 25px;
	margin-left: 80px;
	background-color: #30D9DC;
	width:300px;
	height: 60px;
	padding-top: 30px;
	margin-top: 0px;
	float:left;
	font-family: "Georgia";

}

nav {
	float:left;
	margin-left: 35%;
	margin-top: 25px;
	color:gray;
	word-spacing: 30px;
	font-family: arial;
}

#container {
	clear: both;
	width: 100%;
	height: 80%;
	margin-top: 35px;
	padding-top: 40px;	
}

.bio {
	float:left;
	width: 650px;
	height: 400px;
	background-color: white;
	margin-left: 50px;
	border:solid 2px white;
	border-radius: 10px;
	padding-left: 10px;
	box-shadow: 5px 5px 5px #e9e9e9;
}

.bioimage {
	float:left;
	margin-left: 30px;
	margin-top: 20px;
	border-radius: 10px;
}

h2 {
	color:#30D9DC;
	margin-left: 30px;
	margin-top: 30px;
	font-family: "Georgia";
}

.textdiv {
	float: left;
	width: 300px;
	height: 250px;
	margin-left: 30px;
	overflow: auto;
}

.aside {
	float: left;
	width:270px;
	height:200px;
	background-color: white;
	text-align: center;
	margin-left: 50px;
	border: white 2px solid;
	border-radius: 10px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px #e9e9e9;
}

.picbox {
	float: left;
	float: top;
	width: 300px;
	height: 100px;
	margin-top:20px;
	white-space: 10px; 
	border-radius: 10px;
}

h4 {
	color:#30D9DC;
	margin-left: 10px;
	font-size: 23px;
	padding-bottom: 0px;
	font-family: "Georgia";
}

#hr {
	width: 230px;
	height: 4px;
	margin-top: 0px;
}

hr {
	color:#e9e9e9;
	background-color:#e9e9e9;
	height: 5px;
	width: 580px;
	margin-left: 30px;
	border:none;
	margin-top: 30px;
}

footer {
	clear: both;
	margin-top: 540px;
	width: 100%;
	height: 100px;
	color: #fff;
	background-color: gray;
	text-align: center;
	border-top: #30D9DC solid 3px;
}

h3 {
	font-size: 14px;
	margin-top: 30px;
	color:#eee;
	text-align: center;
	font-family: "Georgia"

}

a {
	color:gray;
	text-decoration: none;
}

a:visited {
	color:#e9e9e9;
	text-decoration: none;
}

a:hover {
	color:#30D9DC;
	text-decoration: none;
}

/*this is for contact page*/

.contact {
	float:left;
	width: 650px;
	height: 520px;
	background-color: white;
	margin-left: 80px;
	border:solid 2px white;
	padding-left: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #e9e9e9;
}

.form {
	margin-left: 30px;
	font-family: "arial";
	color:#30D9DC;
	margin-top: 15px;
	line-height: 25px;
}

input {
	width: 80%;
	height: 20px;
	border: 2px solid #e9e9e9;
	border-radius: 4px;
}

textarea {
	resize: none;
	border: 2px solid #e9e9e9;
	border-radius: 4px;
}

.footer {
	clear: both;
	margin-top: 590px;
	width: 100%;
	height: 100px;
	color: #fff;
	background-color: gray;
	text-align: center;
	border-top: #30D9DC solid 3px;
}

/*image gallery*/

.pfolio {
	float:left;
	width: 650px;
	height: 750px;
	background-color: white;
	margin-left: 80px;
	border:solid 2px white;
	padding-left: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #e9e9e9;
}

.footer2 {
	clear: both;
	margin-top: 850px;
	width: 100%;
	height: 100px;
	color: #fff;
	background-color: gray;
	text-align: center;
	border-top: #30D9DC solid 3px;
}

div.img {
    margin: 0px;
    border: none;
    float: left;
    width: 270px;
    margin-left: 30px;
    margin-top: 30px;
}

div.img:hover {
    border: none;
}

div.img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

div.desc {
    padding: 15px;
    margin-top: 0px;
    text-align: center;
    color:white;
    background-color: #30D9DC;
}

button {
	background-color: #30D9DC;
	border-radius: 10px;
	border:none;
	width: 300px;
	height:50px;
	margin-left:50px;
	margin-top: 10px;
}
/*media queries yo*/

@media screen and (max-width: 640px){


	body {

		font-size: 10px;
		line-height: 150%;
	}


	.top {
		background-color: white;
		margin:0;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 1px;
		height: 51px;
		border-bottom: 3px gray solid;
		position: static;
	}

	h1 {
		color: white;
		text-align: center;
		font-size: 15px;
		margin-left: 10px;
		background-color: #30D9DC;
		width:100px;
		height: 44px;
		padding-top: 8px;
		margin-top: 0px;
		float:left;
		font-family: "Georgia";

	}

	nav {
		float:left;
		margin-left: 35%;
		margin-top: 1px;
		color:gray;
		word-spacing: 10px;
		font-family: arial;
	}

	#container {
		clear: both;
		width: 100%;
		height: 80%;
		margin-top: 35px;
		padding-top: 40px;	
	}

	.bio {
		float:left;
		width: 230px;
		height: 330px;
		background-color: white;
		margin-left: 10px;
		border:solid 2px white;
		border-radius: 10px;
		padding-left: 10px;
		padding-right: 10px;
		box-shadow: 4px 4px 4px #e9e9e9;
	}

	.bioimage {
		float:left;
		margin-left: 30px;
		margin-top: 10px;
		border-radius: 10px;
	}

	h2 {
		color:#30D9DC;
		float:left;
		margin-left: 30px;
		margin-top: 30px;
		font-family: "Georgia";
	}

	.textdiv {
		float: left;
		width: 200px;
		height: 150px;
		margin-left: 20px;
		overflow: auto;
	}

	hr {
		float:left;
		color:#e9e9e9;
		background-color:#e9e9e9;
		height: 3px;
		width: 160px;
		margin-left: 30px;
		border:none;
		margin-top: 2px;
	}

	.aside {
		float: left;
		width:100px;
		height:80px;
		background-color: white;
		text-align: center;
		margin-left: 5px;
		border: white 2px solid;
		border-radius: 10px;
		padding-bottom: 20px;
		box-shadow: 5px 5px 5px #e9e9e9;
	}

	h4 {
		color:#30D9DC;
		float:left;
		margin-left: 8px;
		font-size: 10px;
		padding-bottom: 0px;
		font-family: "Georgia";
	}

	#hr {
		float:left;
		margin-left: 18px;
		width: 70px;
		height: 3px;
		margin-top: 0px;
	}

	.picbox {
		float: left;
		float: top;
		width: 50px;
		height: 60px;
		margin-left:25px;
		margin-top:1px;
		white-space: 10px; 
		border-radius: 10px;
	}

	footer {
		clear: both;
		position:fixed;
		margin-top: 400px;
		width: 100%;
		height: 100px;
		color: #fff;
		background-color: gray;
		text-align: center;
		border-top: #30D9DC solid 3px;
	}

}
/* end 640 */

/*start 768 */

@media screen and (max-width: 768px)

{

body {

	font-size: 10px;
	line-height: 150%;
}


.top {
	background-color: white;
	margin:0;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 1px;
	height: 51px;
	border-bottom: 3px gray solid;
	position: static;
}

h1 {
	color: white;
	text-align: center;
	font-size: 15px;
	margin-left: 20px;
	background-color: #30D9DC;
	width:100px;
	height: 44px;
	padding-top: 8px;
	margin-top: 0px;
	float:left;
	font-family: "Georgia";

}

nav {
	float:left;
	margin-left: 30%;
	margin-top: 10px;
	color:gray;
	word-spacing: 10px;
	font-family: arial;
}

#container {
	clear: both;
	width: 100%;
	height: 80%;
	margin-top: 10px;
	padding-top: 40px;	
}

.bio {
	float:left;
	width: 230px;
	height: 330px;
	background-color: white;
	margin-left: 15px;
	border:solid 2px white;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 4px 4px 4px #e9e9e9;
}

.bioimage {
	float:left;
	margin-left: 30px;
	margin-top: 10px;
	border-radius: 10px;
}

h2 {
	color:#30D9DC;
	float:left;
	margin-left: 30px;
	margin-top: 20px;
	font-family: "Georgia";
}

.textdiv {
	float: left;
	width: 200px;
	height: 150px;
	margin-left: 20px;
	overflow: auto;
}

hr {
	float:left;
	color:#e9e9e9;
	background-color:#e9e9e9;
	height: 3px;
	width: 160px;
	margin-left: 30px;
	border:none;
	margin-top: 2px;
}

.aside {
	float: left;
	width:100px;
	height:80px;
	background-color: white;
	text-align: center;
	margin-left: 10px;
	border: white 2px solid;
	border-radius: 10px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px #e9e9e9;
}

h4 {
	color:#30D9DC;
	float:left;
	margin-left: 8px;
	font-size: 10px;
	padding-bottom: 0px;
	font-family: "Georgia";
}

#hr {
	float:left;
	margin-left: 18px;
	width: 70px;
	height: 3px;
	margin-top: 0px;
}

.picbox {
	float: left;
	float: top;
	width: 50px;
	height: 60px;
	margin-left:25px;
	margin-top:0px;
	white-space: 10px; 
	border-radius: 10px;
}

footer {
	clear: both;
	position:fixed;
	margin-top: 430px;
	width: 100%;
	height: 100px;
	color: #fff;
	background-color: gray;
	text-align: center;
	border-top: #30D9DC solid 3px; }

}

/*end 768*/

/*start 980*/


 @media screen and (max-width: 980px) {

	body {
		background-image:url("../images/eight_horns.png"); 
		margin: 0px;
		padding:0px;
		font-family: "arial", serif;
		font-size: 18px;
		line-height: 150%;
	}

	.top {
		background-color: white;
		margin:0;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 1px;
		height: 89px;
		border-bottom: 3px gray solid;
	}

	h1 {
		color: white;
		text-align: center;
		font-size: 25px;
		margin-left: 30px;
		background-color: #30D9DC;
		width:280px;
		height: 60px;
		padding-top: 30px;
		margin-top: 0px;
		float:left;
		font-family: "Georgia";

	}

	nav {
		float:left;
		margin-left: 30%;
		margin-top: 30px;
		color:gray;
		word-spacing: 15px;
		font-family: arial;
	}

	#container {
		clear: both;
		width: 100%;
		height: 80%;
		margin-top: 35px;
		padding-top: 40px;	
	}

	.bio {
		float:left;
		width: 600px;
		height: 400px;
		background-color: white;
		margin-left: 50px;
		border:solid 2px white;
		border-radius: 10px;
		padding-left: 10px;
		box-shadow: 5px 5px 5px #e9e9e9;
	}

	.bioimage {
		float:left;
		margin-left: 30px;
		margin-top: 20px;
		border-radius: 10px;
	}

	h2 {
		color:#30D9DC;
		margin-left: 30px;
		margin-top: 30px;
		font-family: "Georgia";
	}

	.textdiv {
		float: left;
		width: 300px;
		height: 250px;
		margin-left: 30px;
		overflow: auto;
	}

	.aside {
		float: left;
		width:220px;
		height:170px;
		background-color: white;
		text-align: center;
		margin-left: 40px;
		border: white 2px solid;
		border-radius: 10px;
		padding-bottom: 20px;
		box-shadow: 5px 5px 5px #e9e9e9;
	}

	.picbox {
		float: left;
		float: top;
		width: 300px;
		height: 200px;
		margin-top:20px;
		white-space: 10px; 
		border-radius: 10px;
	}

	h4 {
		color:#30D9DC;
		margin-left: 10px;
		font-size: 23px;
		padding-bottom: 0px;
		font-family: "Georgia";
	}

	#hr {
		width: 170px;
		height: 4px;
		margin-top: 0px;
	}

	hr {
		color:#e9e9e9;
		background-color:#e9e9e9;
		height: 5px;
		width: 580px;
		margin-left: 30px;
		border:none;
		margin-top: 30px;
	}

	footer {
		clear: both;
		margin-top: 540px;
		width: 100%;
		height: 100px;
		color: #fff;
		background-color: gray;
		text-align: center;
		border-top: #30D9DC solid 3px;
	}

	h3 {
		font-size: 14px;
		margin-top: 30px;
		color: #eee;
		text-align: center;
		font-family: "Georgia";

	}

}

/*end 980*/

